body{
    height: 100vh;
    width: 100px;
    background-image:linear-gradient(orange, red, black);
    background-attachment: fixed;
}

.sun{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    top: 50%;
    left: 600px;
    animation-name:k;
    animation-duration: 2s;
    /* animation-timing-function:infinite; */
    animation-iteration-count: infinite;
 
}
.s{
   box-shadow: 2px 2px 5px yellow;
}

@keyframes k{
    from{
       transform: translate(0px,150px);
    }
    to{

    }
}
    